.header-div {
  background-color: #fff;
  color: #818181;
  top: 0;
  width: 100%;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
  height: 64px;
}

.header-nav--logo {
  float: left;
  height: 40px;
  margin: 12px;
}

ul {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

li {
  list-style: none;
  float: left;
}

li > a {
  text-decoration: none;
  color: #444;
  display: block;
  padding: 20px 10px;
  text-decoration: none;
}

li:last-child {
  padding-right: 20px;
}

a > span {
  color: #bebebe;
}

.menu {
  float: right;
}

.cta-button {
  background-color: #f06324;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  line-height: 40px;
  margin: 10px;
  padding: 0 20px;
}

.dropdown-content {
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  padding: 20px;
  position: absolute;
  box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.2);

  background-color: #fff;
  /* max-height: 0; */
  min-width: 180px;
  padding-left: 20px;
  /* opacity: 0; */
  transition: all 0.5s ease-out;
}

.dropdown-content a {
  padding: 10px;
  border-bottom: none;
  border-left: 4px solid #fff;
  color: #444;
  display: block;
  text-decoration: none;
}